.classday, .classday_date {
	font-size:0.85em;
}
.classday {
    float:right;
}
.classday_weekend {
    color:red;
}
.classday_holiday {
    color:green;
}
.classday_professionalday {
    color:brown;
}
.classday_border {
    border-bottom: #999 1px solid;
}
.classday_today {
    font-size: 1.6em;
}
